.sorting__item {
	font-family: $font2;
	color: rgba(black, 0.3);
	text-decoration: none;
	border-bottom: dotted 1px $btn_color;
	
	&:hover {
		color: rgba(black, 1);
		border-bottom: solid 1px $btn_color;
	}
	
	&:nth-child(2) {
		margin-left: 137px;
	}
	
	&:nth-child(3) {
		margin-left: 67px;
	}
	
	&:nth-child(4) {
		margin-left: 62px;
	}
}

.sorting__item_active {
	text-decoration: none;
	color: $btn_color;
	border: none;
	
//	&:hover {
//		border: none;
//	}
}

.sorting__arrows {
	float: right;
	width: 70px;
}

.arrow:before {
	text-decoration: none;
	font-size: 23px;
	line-height: inherit;
	vertical-align: top;
	margin-top: 0;
	color: inherit;
}

.arrow {
	color: black;
	opacity: 0.3;
	
	&:hover {
		opacity: 1;
	}
}

.arrow_active {
	color: red;
	opacity: 1;
}

.paginator {
	margin-top: 52px;
	margin-bottom: 60px;
}

.paginator__item {
	display: inline-block;
	vertical-align: middle;
	width: 38px;
//	height: 38px;
	border: 1px solid #e5e5e5;
	margin-right: 10px;
	border-radius: 3px;
	color: black;
	font-family: $font2;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding: 9px 10px 10px;
	
	&:hover {
		border-color: #bdc6ca;
	}
	
	&:active {
		border-color: $btn_color;
	}
}

.paginator__item_big {
	width: 140px;
}

.paginator__item_active {
	color: white;
	background-color: $btn_color;
	border-color: transparent;
	cursor: default;
	
	&:hover {
		border-color: transparent;
	}
	
	&:active {
		border-color: transparent;
	}
}