.catalog__section {
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	
	&:last-of-type {
		border: none;
	}
}

.catalog__section_min {
	padding-bottom: 25px;
	border-top: none;
	
	.catalog__legend {
		padding-top: 10px;
	}
}

.catalog__legend {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.range {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	font-style: normal;
	color: #283136;
}

.range__slider {
	position: relative;
	height: 80px;
	background: #f1f1f1;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	margin-bottom: 8px;
	padding: 0 20px;
}

.range__scale {
	background: #d7dcde;
	margin-top: 39px;
	height: 2px;
}

.range__bar {
	height: 2px;
	background: #00ca74;
	position: relative;
}

.range__toggle {
	box-sizing: content-box;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 0 0 #cfcfcf;
	position: absolute;
	top: -9px;
	cursor: pointer;
	
	&:hover {
		background-color: #d5d5d5;
	}
}

.range__toggle_max {
	right: 0px;
}

.range__priceBlock {
	position: relative;
	min-height: 38px;
	text-transform: uppercase;
	font-size: 16px;
	color: #444;
	text-align: center;
	line-height: 38px;
}


.range__price_min {
	position: absolute;
	left: 0;
}

.range__price_max {
	position: absolute;
	right: 0;
}

.range__input {
	box-sizing: border-box;
	width: 95px;
	padding: 0 5px;
	background: #f1f1f1;
	border-radius: 5px;
	min-height: 38px;
	text-align: center;
	vertical-align: middle;
	border: none;
	font-size: 17px;
	font-family: "PT Sans", sans-serif;
	color: black;
	font-style: normal;
	color: #283136;
}


.catalog__checkbox,
.catalog__radio {
	display: block;
	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	line-height: 23px;
	text-transform: uppercase;
	padding-left: 35px;
	min-height: 23px;
	margin-bottom: 17px;
	position: relative;
	
	&:before {
		content: '\2610';
		position: absolute;
		left: 0;
		top: 0;
		width: 28px;
		height: 23px;
		font-size: 28px;
		color: #c1c1c1;
		font-family: "symbols-technomart";
		font-weight: normal;
		text-transform: none;
		text-decoration: inherit;
		font-style: normal;
		font-variant: normal;
	}
	
	&:hover:before {
		color: #b5b5b5;
	}
}

.catalog__input:disabled+label {
	opacity: 0.3;
	&:before {
		color: #b5b5b5;
	}
}

.catalog__checkbox:last-child,
.catalog__radio:last-child {
	margin-bottom: 0px;
}

.catalog__radio {
	font-size: 14px;
	
	&:before {
		content: '\25cb';
	}
}

.catalog__input {
	display: none;
}

.catalog__input:checked+.catalog__radio:before {
	content: '\25cf';
}

.catalog__input:checked+.catalog__checkbox:before {
	content: '☑';
}

.catalog__submit {
	margin-top: 55px;
	width: 140px;
	height: 38px;
	display: block;
	background-color: transparent;
	color: black;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	outline: none;
	
	&:hover {
		border-color: #bdc6ca;
	}
	
	&:active {
		border-color: $btn_color;
	}
}