.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-top: 19px;
	margin-bottom: 17px;
	font-size: 0;
}

.breadcrumbs__item {
	display: inline-block;
	padding-right: 15px;
	vertical-align: middle;
	position: relative;
}

$breadcrumbs_height: 20px;

.breadcrumbs__item:not(:first-child) {
	padding-left: 25px;
	
	&:after {
		position: absolute;
		content: "\3e";
		font-size: 14px;
		line-height: $breadcrumbs_height;
		top: 0;
		left: 0;
		font-family: "symbols-technomart";
		color: #c1c6ce;
	}
}

.breadcrumbs__link {
	font-size: 13px;
	line-height: $breadcrumbs_height;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	color: #000;
}

.breadcrumbs__link_home:before {
	color: #c1c6ce;
	font-size: 16px;
	line-height: $breadcrumbs_height;
	margin: 0;
	padding: 0;
}

.catalog__header {
	height: 38px;
	background-color: #f7f3ec;
	border-radius: 3px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", sans-serif;
	color: black;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 10px 0;
	padding-left: 19px;
}

.info_blue {
	background-color: #f2f6f8;
	padding-top: 8px;
	padding-bottom: 45px;
	margin: 0;
}
.catalog__cards_index {
	margin-top: -20px;
}
