.info__title {
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 24px;
	margin-top: 60px;
	margin-bottom: 30px;
}

.info {
	padding-top: 25px;
	margin-bottom: 85px;
}

.info__left {
	float: left;
	width: 540px;
}

.info__right {
	float: right;
	width: 300px;
}

.info__text {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
	margin: 22px 0;
}

.info__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.info__listItem {
	padding-left: 35px;
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	font-weight: 700;
	position: relative;
	
	&:before {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		line-height: inherit;
		width: 25px;
		height: 2px;
		background-color: $btn_color;
	}
}

.info__about {
	margin-top: 35px;
	width: 220px;
}

.info__contact {
	margin-top: 40px;
	width: 100%;
}

.info__map {
	margin-top: 30px;
	height: 158px;
	background-color: darkgray;
	position: relative;
	overflow: hidden;
	
	&:hover {
//		overflow: visible;
	}
}

.info__map_nojs {
	&:hover {
		overflow: visible;
	}
}

.map__hover {
	position: absolute;
	width: 940px;
	right: 0;
	height: 446px;
	bottom: -107px;
	
  background-color: #f1efe8;
  box-shadow: 0px 0px 14.72px 1.28px rgba(35, 31, 32, 0.5);
	background-image: url(../pict/map.jpg);
}

.mapShow {
	overflow: visible;
}


.map__click {
	width: 100%;
	height: 100%;
	position: relative;
}


//Этот див в коде карты

.map__text {
//	background-color: rgba(white, 0.7);
	padding: 1px;
	width: 130px;
	height: 35px;
	position: relative;
	top: 25px;
	left: 25px;
	color: #820101;
	z-index: -1;
	font-weight: 700;
	text-align: left;
	text-shadow: 
		-0   -1px 0   #ece4c6,
		 0   -1px 0   #ece4c6,
		-0    1px 0   #ece4c6,
		 0    1px 0   #ece4c6,
		-1px -0   0   #ece4c6,
		 1px -0   0   #ece4c6,
		-1px  0   0   #ece4c6,
		 1px  0   0   #ece4c6,
		-1px -1px 0   #ece4c6,
		 1px -1px 0   #ece4c6,
		-1px  1px 0   #ece4c6,
		 1px  1px 0   #ece4c6,
		-1px -1px 0   #ece4c6,
		 1px -1px 0   #ece4c6,
		-1px  1px 0   #ece4c6,
		 1px  1px 0   #ece4c6;
}
