

.popular {
	margin-bottom: 20px;
}

.popular:last-child {
	margin-bottom: 64px;
}

.popular__brand {
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	display: block;
	
	&:hover {
		box-shadow: 0 10px 25px rgba(#293449, 0.4);
	}
	
	&:active {
		box-shadow: 0 4px 10px rgba(#293449, 0.4);
	}
	
	&:active > * {
		opacity: 0.3;
	}
}