@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"), url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before {
  content: "\3c";
}

/* "&lt;" */
.icon-right::before {
  content: "\3e";
}

/* "&gt;" */
.icon-basket::before {
  content: "\62";
}

/* "b" */
.icon-facebook::before {
  content: "\66";
}

/* "f" */
.icon-twitter::before {
  content: "\74";
}

/* "t" */
.icon-vk::before {
  content: "\76";
}

/* "v" */
.icon-up::before {
  content: "\2c4";
}

/* "˄" */
.icon-down::before {
  content: "\2c5";
}

/* "˅" */
.icon-left-big::before {
  content: "\2190";
}

/* "←" */
.icon-right-big::before {
  content: "\2192";
}

/* "→" */
.icon-login::before {
  content: "\2386";
}

/* "⎆" */
.icon-logout::before {
  content: "\241b";
}

/* "␛" */
.icon-up-dir::before {
  content: "\25b2";
}

/* "▲" */
.icon-down-dir::before {
  content: "\25bc";
}

/* "▼" */
.icon-circle::before {
  content: "\25cb";
}

/* "○" */
.icon-circle-dot::before {
  content: "\25cf";
}

/* "●" */
.icon-star::before {
  content: "\2605";
}

/* "★" */
.icon-check-off::before {
  content: "\2610";
}

/* "☐" */
.icon-check-on::before {
  content: "\2611";
}

/* "☑" */
.icon-youtube::before {
  content: "\f39e";
}

/* "" */
.icon-home::before {
  content: "🏠";
}

/* "\1f3e0" */
.icon-user::before {
  content: "👨";
}

/* "\1f468" */
.icon-phone::before {
  content: "📞";
}

/* "\1f4de" */
.icon-instagramm::before {
  content: "📷";
}

/* "\1f4f7" */
.icon-search::before {
  content: "🔍";
}

/* "\1f50d" */
.icon-bookmark::before {
  content: "🔖";
}

/* "\1f516" */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

body {
  margin: 0;
  height: 0;
  background-color: #fff;
  min-width: 960px;
  font-family: Cuprum, sans-serif;
  font-size: 17px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.row_inline {
  font-size: 0;
}

.row_inline:after {
  display: none;
}

.row_inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col_1 {
  width: 8.33%;
}

.col_2 {
  width: 16.66%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33%;
}

.col_5 {
  width: 41.66%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33%;
}

.col_8 {
  width: 66.66%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33%;
}

.col_11 {
  width: 91,66%;
}

.col_12 {
  width: 100%;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.btn {
  width: 195px;
  display: block;
  min-height: 38px;
  line-height: 38px;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #ee3643;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.titleBlock {
  min-height: 89px;
  background-color: #f7f3ec;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.titleBlock__title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.titleBlock__link {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 253px;
}

.titleBlock_blue {
  background-color: #f2f6f8;
}

.flag {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  top: -1px;
  right: -1px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 100;
}

.flag_new {
  background: url(../img/newRibbon.png) no-repeat;
}

.header {
  min-height: 320px;
  background: #f1f5f7;
}

.header__top {
  min-height: 42px;
  background: #293449;
}

.header__item {
  float: left;
  width: 150px;
  height: 42px;
  line-height: 42px;
  color: white;
  box-sizing: border-box;
  padding-left: 13px;
}

.header__item:before {
  opacity: 0.3;
  margin-right: 10px;
}

.header__item:hover {
  background: #212a3a;
}

.header__item:hover:before {
  opacity: 1;
}

.header__item:active {
  background: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__item:active:before {
  opacity: 0.5;
}

.logo {
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: 42px;
  line-height: 47px;
  background: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background: #b52933;
}

.logo:hover:after {
  background: #9a212a;
}

.logo:active:after {
  background: #8e1e26;
}

.header__logo {
  width: 220px;
  float: left;
}

.search {
  position: relative;
  height: 42px;
}

.search:hover .search__submit:before {
  opacity: 1;
}

.header__search {
  float: left;
  width: 270px;
}

.search__submit {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background: transparent;
  width: 49px;
  border: none;
  height: 42px;
  box-sizing: border-box;
  cursor: pointer;
}

.search__submit:before {
  color: white;
  padding-left: 2px;
  opacity: 0.3;
}

.search__input {
  position: relative;
  padding-left: 49px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background: transparent;
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-family: Cuprum, sans-serif;
  outline: none;
}

.search__input:focus {
  background: white;
  color: black;
}

.search__input:focus ~ .search__submit:before {
  color: red;
  opacity: 1;
}

.search__input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.search__input:-moz-placeholder {
  color: white;
  opacity: 1;
}

.header__cart_active {
  background: #ee3643;
}

.header__cart_active:hover {
  background-color: #ca2c37;
}

.header__cart_active:active {
  background-color: #ba2732;
}

.header__order {
  padding: 0;
  text-align: center;
}

.header__order_active {
  background: #63a63e;
}

.header__order_active:hover {
  background-color: #5fbb2d;
}

.header__order_active:active {
  background-color: #518534;
}

.header__bottom {
  margin-top: 45px;
}

.header__about {
  font-size: 16px;
  line-height: 23px;
  font-family: Cuprum, sans-serif;
  font-style: italic;
  color: #ee3643;
  padding: 4px 60px 4px 62px;
}

.header__phoneBlock {
  font-size: 21px;
  border: 3px solid white;
  width: 270px;
  height: 45px;
  line-height: 45px;
  padding-left: 9px;
  color: #e9292a;
}

.header__phoneBlock:before {
  color: #b7bfc8;
  margin-right: 38px;
}

.header__address {
  font-size: 14px;
  color: #32425c;
  margin: 0;
  margin-top: 9px;
  padding-left: 10px;
}

.userBlock__unauthorized {
  display: none;
}

.userBlock__authorized {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.userBlock__btn {
  background-color: #fff;
  font-size: 21px;
  display: block;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  color: black;
}

.userBlock__btn:hover {
  color: #ee3643;
}

.userBlock__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.userBlock__btn a {
  text-decoration: none;
}

.userBlock__btn_login {
  width: 121px;
  margin-left: 20px;
  float: left;
  padding-left: 10px;
}

.userBlock__btn_login:before {
  margin-right: 10px;
  opacity: 0.3;
}

.userBlock__btn_login:hover:before {
  opacity: 1;
}

.userBlock__btn_register {
  width: 150px;
  float: right;
  text-align: center;
}

.userBlock__name {
  color: black;
  padding-left: 12px;
}

.userBlock__name:before {
  font-size: 18px;
  margin-right: 15px;
}

.userBlock__logout {
  width: 35px;
  display: block;
  float: right;
  height: 100%;
  font-size: 22px;
  color: black;
}

.userBlock__logout:before {
  padding-top: 12px;
}

.userBlock__btn_nameBlock {
  margin-bottom: 9px;
}

.userBlock__btn_nameBlock :before {
  color: #32425c;
  opacity: 0.3;
}

.userBlock__btn_nameBlock:hover :before {
  opacity: 1;
}

.userBlock__btn_nameBlock:active *,
.userBlock__btn_nameBlock:active :before {
  color: rgba(0, 0, 0, 0.3);
}

.userBlock__link {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
  color: #32425c;
  text-decoration: none;
}

.userBlock__link span {
  position: relative;
}

.userBlock__link span:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #32425c;
}

.userBlock__link:hover {
  color: #ee3643;
}

.userBlock__link:hover span:after {
  background: #ee3643;
}

.userBlock__link:active span {
  opacity: 0.3;
}

.userBlock__link:not(:first-child):before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.menu {
  margin-top: 35px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #32425c;
  color: white;
  min-height: 60px;
  line-height: 60px;
  box-shadow: inset 0 -5px #293449;
  font-size: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: top;
}

.menu__link {
  display: block;
  text-decoration: none;
}

.menu__link:hover {
  background: #293449;
}

.menu__link:active {
  background: #1d2739;
  color: rgba(255, 255, 255, 0.3);
}

.menu__link,
.menu__item_active {
  padding: 0 31px;
  color: white;
  font-size: 17px;
}

.bannersBlock {
  margin-top: 59px;
  margin-bottom: 33px;
}

.banner {
  position: relative;
  min-height: 123px;
  color: white;
  box-sizing: border-box;
  padding-left: 23px;
  padding-top: 20px;
  margin-bottom: 20px;
  background: #f6b22d url(../img/banner_materials.png) no-repeat 83% 51%;
}

.banner_materials {
  background-color: #f6b22d;
  background-image: url(../img/banner_materials.png);
}

.banner__instrument {
  background-color: #4aafde;
  background-image: url(../img/banner_instrument.png);
  background-position: 88% 51%;
}

.banner_tech {
  background-color: #cc79d1;
  background-image: url(../img/banner_tech.png);
  background-position: 87% 51%;
}

.banner_discount {
  background-color: #85d179;
  background-image: url(../img/banner_discount.png);
  background-position: 82% 51%;
}

.banner_delivery {
  background-image: url(../img/banner_delivery.png);
  background-position: 87% 51%;
}

.banner__title {
  font-size: 24px;
  line-height: 30px;
  font-family: Cuprum, sans-serif;
  font-weight: 700;
}

.banner__link {
  width: auto;
  min-width: 135px;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 14px;
}

.banner__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.newRibbon:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  background: url(../img/newRibbon.png) no-repeat;
}

.slider {
  height: 266px;
  background-color: #f6b22d;
  color: white;
  position: relative;
}

.slider__title {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__text {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  margin-top: 5px;
}

.slider__controls {
  position: absolute;
  width: 160px;
  height: 10px;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  font-size: 0;
}

.slider__control {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider__slide {
  box-sizing: border-box;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.slider__slide_perf {
  background-image: url(../img/slider__slide_perf.jpg);
}

.slider__slide_drill {
  background-image: url(../img/slider__slide_drill.jpg);
}

.slider__slide {
  display: none;
}

.slider__input {
  display: none;
}

#slider__btn1:checked ~ .slider__controls [for="slider__btn1"],
#slider__btn2:checked ~ .slider__controls [for="slider__btn2"],
#slider__btn3:checked ~ .slider__controls [for="slider__btn3"] {
  background-color: #ee3643;
}

#slider__btn1:checked ~ .slider__slides :nth-child(1),
#slider__btn2:checked ~ .slider__slides :nth-child(2) {
  display: block;
}

.slider__btn {
  position: absolute;
  bottom: 22px;
}

.slider__arrow {
  position: absolute;
  font-size: 45px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.slider__arrow:hover:before {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.slider__arrow_next {
  right: 0;
}

.popular {
  margin-bottom: 20px;
}

.popular:last-child {
  margin-bottom: 64px;
}

.popular__brand {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  display: block;
}

.popular__brand:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.4);
}

.popular__brand:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.4);
}

.popular__brand:active > * {
  opacity: 0.3;
}

.services {
  background-color: #f2f6f8;
}

.services__top {
  padding-top: 65px;
}

.services__title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.services__desc {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.services__slider {
  margin-top: 20px;
}

.services__tabs {
  position: relative;
  padding-top: 48px;
}

.services__controls {
  float: left;
  z-index: 3;
  position: relative;
  width: 240px;
  height: 279px;
  box-sizing: border-box;
}

.services__controls:after {
  position: absolute;
  width: 10px;
  height: 100%;
  content: '';
  right: 0;
  top: -49px;
  background: url(../img/services__controls.png) no-repeat 100% 0;
  z-index: 100;
}

.services__tabs label {
  cursor: pointer;
  display: block;
  height: 61px;
  position: relative;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 21px;
  background-color: #32425c;
  padding: 15px 22px;
  color: white;
}

.services__tabs label:hover {
  background-color: #293449;
}

.services__tabs input {
  display: none;
}

#tab_1:checked ~ .services__controls #tab_l1,
#tab_2:checked ~ .services__controls #tab_l2,
#tab_3:checked ~ .services__controls #tab_l3 {
  background: #fff;
  color: #32425c;
  z-index: 3;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.services__content {
  float: right;
  position: relative;
  width: 620px;
  z-index: 2;
}

.services__tab {
  display: none;
  height: 285px;
}

#tab_1:checked ~ .services__content #tab_c1,
#tab_2:checked ~ .services__content #tab_c2,
#tab_3:checked ~ .services__content #tab_c3 {
  display: block;
}

.services__title_big {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-bottom: 22px;
}

.services__desc_delivery {
  width: 275px;
}

.services__desc_guarantee {
  width: 385px;
}

.services__desc_credit {
  width: 285px;
}

.services__tab {
  background: no-repeat right top;
}

.services__tab_delivery {
  background-image: url(../img/services__tab_delivery.png);
  background-position: right 23px;
}

.services__tab_guarantee {
  background-image: url(../img/services__tab_guarantee.png);
}

.services__tab_credit {
  background-image: url(../img/services__tab_credit.png);
}

.services__btn {
  margin-top: 20px;
}

.info__title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.info {
  padding-top: 25px;
  margin-bottom: 85px;
}

.info__left {
  float: left;
  width: 540px;
}

.info__right {
  float: right;
  width: 300px;
}

.info__text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  margin: 22px 0;
}

.info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info__listItem {
  padding-left: 35px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}

.info__listItem:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  line-height: inherit;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.info__about {
  margin-top: 35px;
  width: 220px;
}

.info__map {
  margin-top: 30px;
  min-height: 158px;
}

.info__contact {
  margin-top: 40px;
  width: 100%;
}

.footer__top {
  background-color: #32425c;
  color: #f1f5f7;
  padding-bottom: 48px;
}

.footer__bottom {
  background-color: #293449;
  color: white;
  padding-top: 38px;
  padding-bottom: 28px;
}

.logo_footer {
  height: 63px;
  line-height: 68px;
  font-size: 30px;
}

.footer__link {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  text-decoration: none;
  padding-top: 37px;
  position: relative;
}

.footer__link:after {
  content: none;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 1px;
  background: #f1f5f7;
}

.footer__link:hover:after {
  content: '';
}

.footer__link:active {
  opacity: 0.5;
}

.footer__item {
  display: inline-block;
  margin-left: 60px;
}

.footer__item:first-child {
  margin-left: 0;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__nav {
  float: right;
  margin: 0;
  padding: 0;
}

.footer__link_color {
  padding-top: 35px;
  color: #ffd180;
}

.footer__link_color:after {
  background-color: #ffd180;
}

.footer__address {
  font-size: 18px;
  line-height: 24px;
  padding-top: 33px;
  padding-left: 5px;
}

.footer__copy {
  font-size: 16px;
  line-height: 18px;
  font-family: Cuprum, sans-serif;
}

.social {
  text-align: center;
}

.social__btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 5px;
}

.social__btn:hover {
  background-color: #ee3643;
}

.infoBlock {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-family: Cuprum, sans-serif;
}

.infoBlock:last-child {
  margin-left: 53px;
}

.infoBlock__link {
  color: #ffd180;
  text-decoration: none;
}

.infoBlock__link:hover {
  border-bottom: 1px solid;
}

.infoBlock__link:active {
  color: #ee3643;
  border-bottom: none;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 17px;
  font-size: 0;
}

.breadcrumbs__item {
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
  position: relative;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 25px;
}

.breadcrumbs__item:not(:first-child):after {
  position: absolute;
  content: "\3e";
  font-size: 14px;
  line-height: 20px;
  top: 0;
  left: 0;
  font-family: "symbols-technomart";
  color: #c1c6ce;
}

.breadcrumbs__link {
  font-size: 13px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #000;
}

.breadcrumbs__link_home:before {
  color: #c1c6ce;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.catalog__header {
  height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: black;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 10px 0;
  padding-left: 19px;
}

.info_blue {
  background-color: #f2f6f8;
  padding-top: 8px;
  padding-bottom: 45px;
  margin: 0;
}

.catalog__cards {
  margin-left: -20px;
}

.card {
  position: relative;
  width: 220px;
  min-height: 318px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.card__title {
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card__discount {
  font-size: 17px;
  min-height: 20px;
  margin-bottom: 8px;
  color: #999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.card__price {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 20px;
  min-height: 38px;
  padding: 9px 10px;
  width: 140px;
  background-color: #ee3643;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
}

.card__price:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: transparent;
}

.card__actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 160px;
  box-sizing: border-box;
  padding: 43px 0;
  background-color: white;
  z-index: 10;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.4);
}

.card:hover .card__actions {
  display: block;
}

.card__image {
  width: 218px;
  height: 160px;
}

.card__image img {
  max-width: 100%;
}

.card__buy,
.card__bookmark {
  width: 135px;
  height: 138px;
  display: block;
  margin: 0 auto;
  height: 38px;
  padding: 7px 0;
  box-sizing: border-box;
  margin-bottom: 7px;
  border-radius: 3px;
  border: 3px solid transparent;
  text-decoration: none;
  font-size: 14px;
  font-family: Cuprum, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.card__buy {
  color: white;
  background-color: #63a63e;
  border-bottom-color: #367315;
  position: relative;
}

.card__buy:before {
  text-transform: none;
  font-family: "symbols-technomart";
  content: "\62";
  position: absolute;
  font-size: 17px;
  top: 6px;
  left: 9px;
  opacity: 0.3;
}

.card__buy:hover {
  background-color: #5fbb2d;
}

.card__buy:hover:before {
  opacity: 1;
}

.card__buy:active {
  background-color: #518534;
  border-bottom-color: #518534;
}

.card__bookmark {
  color: #32425c;
  border-color: #63a63e;
}

.card__bookmark:hover {
  border-color: #32425c;
}

.card__bookmark:active {
  opacity: 0.3;
}

.catalog__section {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.catalog__section:last-of-type {
  border: none;
}

.catalog__section_min {
  padding-bottom: 25px;
  border-top: none;
}

.catalog__section_min .catalog__legend {
  padding-top: 10px;
}

.catalog__legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.range {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #283136;
}

.range__slider {
  position: relative;
  height: 80px;
  background: #f1f1f1;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  margin-bottom: 8px;
  padding: 0 20px;
}

.range__scale {
  background: #d7dcde;
  margin-top: 39px;
  height: 2px;
}

.range__bar {
  height: 2px;
  background: #00ca74;
  position: relative;
}

.range__toggle {
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 0 0 #cfcfcf;
  position: absolute;
  top: -9px;
  cursor: pointer;
}

.range__toggle:hover {
  background-color: #d5d5d5;
}

.range__toggle_max {
  right: 0px;
}

.range__priceBlock {
  position: relative;
  min-height: 38px;
  text-transform: uppercase;
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 38px;
}

.range__price_min {
  position: absolute;
  left: 0;
}

.range__price_max {
  position: absolute;
  right: 0;
}

.range__input {
  box-sizing: border-box;
  width: 95px;
  padding: 0 5px;
  background: #f1f1f1;
  border-radius: 5px;
  min-height: 38px;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  color: black;
  font-style: normal;
  color: #283136;
}

.catalog__checkbox,
.catalog__radio {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  padding-left: 35px;
  min-height: 23px;
  margin-bottom: 17px;
  position: relative;
}

.catalog__checkbox:before,
.catalog__radio:before {
  content: '\2610';
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 23px;
  font-size: 28px;
  color: #c1c1c1;
  font-family: "symbols-technomart";
  font-weight: normal;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
}

.catalog__checkbox:hover:before,
.catalog__radio:hover:before {
  color: #b5b5b5;
}

.catalog__input:disabled + label {
  opacity: 0.3;
}

.catalog__input:disabled + label:before {
  color: #b5b5b5;
}

.catalog__checkbox:last-child,
.catalog__radio:last-child {
  margin-bottom: 0px;
}

.catalog__radio {
  font-size: 14px;
}

.catalog__radio:before {
  content: '\25cb';
}

.catalog__input {
  display: none;
}

.catalog__input:checked + .catalog__radio:before {
  content: '\25cf';
}

.catalog__input:checked + .catalog__checkbox:before {
  content: '☑';
}

.catalog__submit {
  margin-top: 55px;
  width: 140px;
  height: 38px;
  display: block;
  background-color: transparent;
  color: black;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

.catalog__submit:hover {
  border-color: #bdc6ca;
}

.catalog__submit:active {
  border-color: #ee3643;
}

.sorting__item {
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: dotted 1px #ee3643;
}

.sorting__item:hover {
  color: black;
  border-bottom: solid 1px #ee3643;
}

.sorting__item:nth-child(2) {
  margin-left: 137px;
}

.sorting__item:nth-child(3) {
  margin-left: 67px;
}

.sorting__item:nth-child(4) {
  margin-left: 62px;
}

.sorting__item_active {
  text-decoration: none;
  color: #ee3643;
  border: none;
}

.sorting__arrows {
  float: right;
  width: 70px;
}

.arrow:before {
  text-decoration: none;
  font-size: 23px;
  line-height: inherit;
  vertical-align: top;
  margin-top: 0;
  color: inherit;
}

.arrow {
  color: black;
  opacity: 0.3;
}

.arrow:hover {
  opacity: 1;
}

.arrow_active {
  color: red;
  opacity: 1;
}

.paginator {
  margin-top: 52px;
  margin-bottom: 60px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  border-radius: 3px;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 10px 10px;
}

.paginator__item:hover {
  border-color: #bdc6ca;
}

.paginator__item:active {
  border-color: #ee3643;
}

.paginator__item_big {
  width: 140px;
}

.paginator__item_active {
  color: white;
  background-color: #ee3643;
  border-color: transparent;
  cursor: default;
}

.paginator__item_active:hover {
  border-color: transparent;
}

.paginator__item_active:active {
  border-color: transparent;
}

/*# sourceMappingURL=style.css.map */