@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"), url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before {
  content: "\3c";
}

/* "&lt;" */
.icon-right::before {
  content: "\3e";
}

/* "&gt;" */
.icon-basket::before {
  content: "\62";
}

/* "b" */
.icon-facebook::before {
  content: "\66";
}

/* "f" */
.icon-twitter::before {
  content: "\74";
}

/* "t" */
.icon-vk::before {
  content: "\76";
}

/* "v" */
.icon-up::before {
  content: "\2c4";
}

/* "˄" */
.icon-down::before {
  content: "\2c5";
}

/* "˅" */
.icon-left-big::before {
  content: "\2190";
}

/* "←" */
.icon-right-big::before {
  content: "\2192";
}

/* "→" */
.icon-login::before {
  content: "\2386";
}

/* "⎆" */
.icon-logout::before {
  content: "\241b";
}

/* "␛" */
.icon-up-dir::before {
  content: "\25b2";
}

/* "▲" */
.icon-down-dir::before {
  content: "\25bc";
}

/* "▼" */
.icon-circle::before {
  content: "\25cb";
}

/* "○" */
.icon-circle-dot::before {
  content: "\25cf";
}

/* "●" */
.icon-star::before {
  content: "\2605";
}

/* "★" */
.icon-check-off::before {
  content: "\2610";
}

/* "☐" */
.icon-check-on::before {
  content: "\2611";
}

/* "☑" */
.icon-youtube::before {
  content: "\f39e";
}

/* "" */
.icon-home::before {
  content: "🏠";
}

/* "\1f3e0" */
.icon-user::before {
  content: "👨";
}

/* "\1f468" */
.icon-phone::before {
  content: "📞";
}

/* "\1f4de" */
.icon-instagramm::before {
  content: "📷";
}

/* "\1f4f7" */
.icon-search::before {
  content: "🔍";
}

/* "\1f50d" */
.icon-bookmark::before {
  content: "🔖";
}

/* "\1f516" */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

body {
  margin: 0;
  height: 0;
  background-color: #fff;
  min-width: 960px;
  font-family: Cuprum, sans-serif;
  font-size: 17px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.row_inline {
  font-size: 0;
}

.row_inline:after {
  display: none;
}

.row_inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col_1 {
  width: 8.33%;
}

.col_2 {
  width: 16.66%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33%;
}

.col_5 {
  width: 41.66%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33%;
}

.col_8 {
  width: 66.66%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33%;
}

.col_11 {
  width: 91,66%;
}

.col_12 {
  width: 100%;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.header {
  min-height: 320px;
  background: #f1f5f7;
}

.header__top {
  min-height: 42px;
  background: #293449;
}

.header__item {
  float: left;
  width: 150px;
  height: 42px;
  line-height: 42px;
  color: white;
  box-sizing: border-box;
  padding-left: 13px;
}

.header__item:before {
  opacity: 0.3;
  margin-right: 10px;
}

.header__item:hover {
  background: #212a3a;
}

.header__item:hover:before {
  opacity: 1;
}

.header__item:active {
  background: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__item:active:before {
  opacity: 0.5;
}

.logo {
  position: relative;
  box-sizing: border-box;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 42px;
  line-height: 47px;
  background: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background: #b52933;
}

.logo:hover:after {
  background: #9a212a;
}

.logo:active:after {
  background: #8e1e26;
}

.header__logo {
  width: 220px;
  float: left;
}

.search {
  position: relative;
  height: 42px;
}

.search:hover .search__submit:before {
  opacity: 1;
}

.header__search {
  float: left;
  width: 270px;
}

.search__submit {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background: transparent;
  width: 49px;
  border: none;
  height: 42px;
  box-sizing: border-box;
  cursor: pointer;
}

.search__submit:before {
  color: white;
  padding-left: 2px;
  opacity: 0.3;
}

.search__input {
  position: relative;
  padding-left: 49px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background: transparent;
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-family: Cuprum, sans-serif;
  outline: none;
}

.search__input:focus {
  background: white;
  color: black;
}

.search__input:focus ~ .search__submit:before {
  color: red;
  opacity: 1;
}

.search__input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.search__input:-moz-placeholder {
  color: white;
  opacity: 1;
}

.header__cart_active {
  background: #ee3643;
}

.header__cart_active:hover {
  background-color: #ca2c37;
}

.header__cart_active:active {
  background-color: #ba2732;
}

.header__order {
  padding: 0;
  text-align: center;
}

.header__order_active {
  background: #63a63e;
}

.header__order_active:hover {
  background-color: #5fbb2d;
}

.header__order_active:active {
  background-color: #518534;
}

.header__bottom {
  margin-top: 45px;
}

.header__about {
  font-size: 16px;
  line-height: 23px;
  font-family: Cuprum, sans-serif;
  font-style: italic;
  color: #ee3643;
  padding: 4px 60px 4px 62px;
}

.header__phoneBlock {
  font-size: 21px;
  border: 3px solid white;
  width: 270px;
  height: 45px;
  line-height: 45px;
  padding-left: 9px;
  color: #e9292a;
}

.header__phoneBlock:before {
  color: #b7bfc8;
  margin-right: 38px;
}

.header__address {
  font-size: 14px;
  color: #32425c;
  margin: 0;
  margin-top: 9px;
  padding-left: 10px;
}

.userBlock__unauthorized {
  display: none;
}

.userBlock__authorized {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.userBlock__btn {
  background-color: #fff;
  font-size: 21px;
  display: block;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  color: black;
}

.userBlock__btn:hover {
  color: #ee3643;
}

.userBlock__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.userBlock__btn a {
  text-decoration: none;
}

.userBlock__btn_login {
  width: 121px;
  margin-left: 20px;
  float: left;
  padding-left: 10px;
}

.userBlock__btn_login:before {
  margin-right: 10px;
  opacity: 0.3;
}

.userBlock__btn_login:hover:before {
  opacity: 1;
}

.userBlock__btn_register {
  width: 150px;
  float: right;
  text-align: center;
}

.userBlock__name {
  color: black;
  padding-left: 12px;
}

.userBlock__name:before {
  font-size: 18px;
  margin-right: 15px;
}

.userBlock__logout {
  width: 35px;
  display: block;
  float: right;
  height: 100%;
  font-size: 22px;
  color: black;
}

.userBlock__logout:before {
  padding-top: 12px;
}

.userBlock__btn_nameBlock {
  margin-bottom: 9px;
}

.userBlock__btn_nameBlock :before {
  color: #32425c;
  opacity: 0.3;
}

.userBlock__btn_nameBlock:hover :before {
  opacity: 1;
}

.userBlock__btn_nameBlock:active *,
.userBlock__btn_nameBlock:active :before {
  color: rgba(0, 0, 0, 0.3);
}

.userBlock__link {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
  color: #32425c;
  text-decoration: none;
}

.userBlock__link span {
  position: relative;
}

.userBlock__link span:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #32425c;
}

.userBlock__link:hover {
  color: #ee3643;
}

.userBlock__link:hover span:after {
  background: #ee3643;
}

.userBlock__link:active span {
  opacity: 0.3;
}

.userBlock__link:not(:first-child):before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.menu {
  margin-top: 35px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #32425c;
  color: white;
  min-height: 60px;
  line-height: 60px;
  box-shadow: inset 0 -5px #293449;
  font-size: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: top;
}

.menu__link {
  display: block;
  text-decoration: none;
}

.menu__link:hover {
  background: #293449;
}

.menu__link:active {
  background: #1d2739;
  color: rgba(255, 255, 255, 0.3);
}

.menu__link,
.menu__item_active {
  padding: 0 31px;
  color: white;
  font-size: 17px;
}

.services__tabs {
  position: relative;
  margin: 0 auto;
  width: 800px;
  color: rgba(255, 255, 255, 0.9);
}

.services__controls {
  float: left;
  z-index: 3;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

.services__tabs label {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  position: relative;
  text-align: center;
  border: 1px solid white;
  box-sizing: border-box;
}

.services__tabs input {
  display: none;
}

#tab_1:checked ~ .services__controls #tab_l1,
#tab_2:checked ~ .services__controls #tab_l2,
#tab_3:checked ~ .services__controls #tab_l3 {
  background: #fff;
  color: black;
  z-index: 3;
}

.services__content {
  float: left;
  position: relative;
  width: 400px;
  height: 230px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
}

.services__tab {
  display: none;
  padding: 10px;
  text-align: center;
}

#tab_1:checked ~ .services__content #tab_c1,
#tab_2:checked ~ .services__content #tab_c2,
#tab_3:checked ~ .services__content #tab_c3 {
  display: block;
}

.bannersBlock {
  margin-top: 59px;
}

.banner {
  position: relative;
  min-height: 123px;
  color: white;
  box-sizing: border-box;
  padding-left: 23px;
  padding-top: 20px;
  margin-bottom: 20px;
  background: #f6b22d url(../img/banner_materials.png) no-repeat 83% 51%;
}

.banner_materials {
  background-color: #f6b22d;
  background-image: url(../img/banner_materials.png);
}

.banner__instrument {
  background-color: #4aafde;
  background-image: url(../img/banner_instrument.png);
  background-position: 88% 51%;
}

.banner_tech {
  background-color: #cc79d1;
  background-image: url(../img/banner_tech.png);
  background-position: 87% 51%;
}

.banner_discount {
  background-color: #85d179;
  background-image: url(../img/banner_discount.png);
  background-position: 82% 51%;
}

.banner_delivery {
  background-image: url(../img/banner_delivery.png);
  background-position: 87% 51%;
}

.banner__title {
  font-size: 24px;
  line-height: 30px;
  font-family: Cuprum, sans-serif;
  font-weight: 700;
}

.banner__link {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  min-width: 135px;
  display: inline-block;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  min-height: 38px;
  line-height: 38px;
  text-align: center;
  padding: 0 10px;
  margin-top: 14px;
}

.banner__link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.banner__link:active {
  background: rgba(0, 0, 0, 0.3);
}

.slider {
  min-height: 266px;
  background-color: #f6b22d;
}

.newRibbon:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  background: url(../img/newRibbon.png) no-repeat;
}

/*# sourceMappingURL=style.css.map */