//SETTINGS

@import "symbols-technomart";
@import "normalize.scss";

$btn_color: #ee3643;
$btn_hover: #ca2c37;
$btn_active: #ba2732;

body {
	margin: 0;
	height: 0;
	background-color: #fff;
	min-width: 960px;
	font-family: Cuprum, sans-serif;
	font-size: 17px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
//	min-height: inherit;
//	outline: 1px solid red;
}

.row {
	margin: 0 -10px;
//	outline: 2px solid lime;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.col {
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}

.row_inline {
  font-size: 0;
}

.row_inline:after {
  display: none;
}

.row_inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col_1 {
  width: 8.33%;
}

.col_2 {
  width: 16.66%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33%;
}

.col_5 {
  width: 41.66%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33%;
}

.col_8 {
  width: 66.66%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33%;
}

.col_11 {
  width: 91,66%;
}

.col_12 {
  width: 100%;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

.btn {
	width: 195px;
	display: block;
	min-height: 38px;
	line-height: 38px;
	box-sizing: border-box;
	padding: 0 10px;
	background-color: $btn_color;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	outline: none;
	cursor: pointer;
	
	&:hover {
		background-color: $btn_hover;
	}
	
	&:active {
		background-color: $btn_active;
	}
}

.titleBlock {
	min-height: 89px;
	background-color: #f7f3ec;
	position: relative;
	padding: 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.titleBlock__title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.titleBlock__link {
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	width: 253px;
}

.titleBlock_blue {
	background-color: #f2f6f8;
}

.flag {
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	top: -1px;
	right: -1px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 100;
}

.flag_new {
	background: url(../img/newRibbon.png) no-repeat;
}


//END OF SETTINGS

//index.html

@import "header";
@import "bannersBlock";
@import "popular";
@import "services";
@import "info";
@import "footer";

//Catalog.html

@import "catalog";
@import "card";
@import "catalog-left";
@import "catalog-right";


@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-2000px);}
	70% {transform: translateX(-50%) translateY(-43%);}
	90% {transform: translateX(-50%) translateY(-53%);}
	100% {transform: translateX(-50%) translateY(-50%);}
}

.modalShow {
	display: block;
	animation: bounce 0.6s;
	
}
.modal_form {
	
}

.btn_big {
	width: 100%;
}

.modal__top_form {
	padding-top: 47px;
	min-height: 311px;
	padding-bottom: 37px;
}

.modal__column {
	width: 220px;
}

.modal__column_left {
	float: left;
}

.modal__column_right {
	float: right;
}

.modal__label {
	font-size: 18px;
	line-height: 18px;
	display: block;
	margin-bottom: 10px;
	clear: both;
}

.modal__input {
	border: 2px solid #d7dcde;
	outline: none;
	border-radius: 3px;
	width: 100%;
	min-height: 38px;
	padding: 8px 14px;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", sans-serif;
	vertical-align: top;
	
	&:hover {
		border-color: #bdc6ca;
	}
	
	&:focus {
		border-color: $btn_color;
	}
}

.modal__input_text {
	min-height: 114px;
	resize: none;
	margin-bottom: 0;
}

 .modal__input::-webkit-input-placeholder {
  color: black;
}

.modal__input::-moz-placeholder {
	color: black; 
	font-weight: 500;
	opacity: 1;
}

.modal__input:-moz-placeholder {
	color: black; 
	font-weight: 500;
	opacity: 1;
}
