@import "symbols-technomart";
@import "normalize.scss";

body {
	margin: 0;
	height: 0;
	background-color: #ddd;
	min-width: 960px;
	font-family: Cuprum, sans-serif;
	font-size: 17px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
//	min-height: inherit;
//	outline: 1px solid red;
}

.row {
	margin: 0 -10px;
//	outline: 2px solid lime;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.col {
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}

.row_inline {
  font-size: 0;
}

.row_inline:after {
  display: none;
}

.row_inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col_1 {
  width: 8.33%;
}

.col_2 {
  width: 16.66%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33%;
}

.col_5 {
  width: 41.66%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33%;
}

.col_8 {
  width: 66.66%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33%;
}

.col_11 {
  width: 91,66%;
}

.col_12 {
  width: 100%;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

//INDEX






//Services
@import "services";

//HEADER
.header {
	min-height: 320px;
	background: #f1f5f7;
}

$header__top_height: 42px;

.header__top {
	min-height: $header__top_height;
	background: #293449;
}

.header__item {
	float: left;
	width: 150px;
	height: $header__top_height;
	line-height: $header__top_height;
	color: white;
	box-sizing: border-box;
	padding-left: 13px;
	
	&:before {
		opacity: 0.3;
		margin-right: 10px;
	}
	
	&:hover {
		background: #212a3a;
	}
	
	&:hover:before {
		opacity: 1;
	}
	
	&:active {
		background: #161d29;
		color: rgba(white, 0.6);
	}
	
	&:active:before {
		opacity: 0.5;
	}
}

.logo {
	position: relative;
	box-sizing: border-box;
	
	font-size: 24px;
	letter-spacing: 0.03em;
	color: white;
//	font-family: Cuprum, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	height: $header__top_height;
//	line-height: 24px;
	line-height: $header__top_height + 5px;
//	padding-top: 11px;
	background: #ee3643;
	
	&:hover {
		background-color: #ca2c37;
	}
	
	&:active {
		background-color: #ba2732;
	}
	
	&:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: -5px;
	height: 5px;
	width: 100%;
	background: #b52933;
	}
	
	&:hover:after {
		background: #9a212a;
	}
	
	&:active:after {
		background: #8e1e26;
	}
}

.header__logo {
	width: 220px;
	float: left;
}

.search {
	position: relative;
	height: $header__top_height;
	
	&:hover .search__submit:before {
		opacity: 1;
	}
}

.header__search {
	float: left;
	width: 270px;
}

.search__submit {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	background: transparent;
	width: 49px;
	border: none;
	height: $header__top_height;
	box-sizing: border-box;
	cursor: pointer;
	
	&:before {
		color: white;
		padding-left: 2px;
		opacity: 0.3;
	}
	
}

.search__input {
	position: relative;
	padding-left: 49px;
	width: 100%;
	box-sizing: border-box;
	color: white;
	background: transparent;
	border: none;
	font-size: 17px;
	line-height: 18px;
	font-family: Cuprum, sans-serif;
	outline: none;
	
	&:focus {
		background: white;
		color: black;
	}
	
	&:focus ~ .search__submit:before {
	color: red;
	opacity: 1;
	}
}

.search__input::-webkit-input-placeholder {
	color: white;
	opacity: 1;
}

.search__input:-moz-placeholder {
	color: white;
	opacity: 1;
}

.header__cart_active {
	background: #ee3643;
	
	&:hover {
		background-color: #ca2c37;
	}
	
	&:active {
		background-color: #ba2732;
	}
}

.header__order {
	padding: 0;
	text-align: center;
}

.header__order_active {
	background: #63a63e;
	
	&:hover {
		background-color: #5fbb2d;
	}
	
	&:active {
		background-color: #518534;
	}
}

//END OF HEADER__TOP

//HEADER__BOTTOM

.header__bottom {
	margin-top: 45px;
}

.header__about {
	font-size: 16px;
	line-height: 23px;
	font-family: Cuprum, sans-serif;
	font-style: italic;
	color: #ee3643;
	padding: 4px 60px 4px 62px;
}

$header__bottom_height: 45px;

.header__phoneBlock {
	font-size: 21px;
	border: 3px solid white;
	width: 270px;
	height: $header__bottom_height;
	line-height: $header__bottom_height;
	padding-left: 9px;
	color: #e9292a;
	
	&:before {
		color: #b7bfc8;
		margin-right: 38px;
	}
}

.header__address {
	font-size: 14px;
	color: #32425c;
	margin: 0;
	margin-top: 9px;
	padding-left: 10px;
}

.userBlock__unauthorized {
	display: none;
}

.userBlock__authorized {
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}



.userBlock__btn {
	background-color: #fff;
	font-size: 21px;
	display: block;
	height: $header__bottom_height;
	line-height: $header__bottom_height;
	text-decoration: none;
	color: black;
	
	
	
	&:hover {
		color: #ee3643;
	}
	
	&:active {
		color: rgba(black, 0.3);
	}
	
	a {
		text-decoration: none;
	}
}

.userBlock__btn_login {
	width: 121px;
	margin-left: 20px;
	float: left;
	padding-left: 10px;
	
	&:before {
		margin-right: 10px;
		opacity: 0.3;
	}
	
	&:hover:before {
		opacity: 1;
	}
}

.userBlock__btn_register {
	width: 150px;
	float: right;
	text-align: center;
}

.userBlock__name {
	color: black;
	padding-left: 12px;
	
	&:before {
		font-size: 18px;
		margin-right: 15px;
	}
}

.userBlock__logout {
	width: 35px;
	display: block;
	float: right;
	height: 100%;
	font-size: 22px;
	color: black;
	
	&:before {
		padding-top: 12px;
	}
}

.userBlock__btn_nameBlock {
	margin-bottom: 9px;
	
	:before {
	color: #32425c;
	opacity: 0.3;
	}
	
	&:hover :before {
		opacity: 1;
	}
	
	&:active *,
	&:active :before {
		color: rgba(black, 0.3);
	}
	
}





$userBlock_normal: #32425c;
$userBlock_hover: #ee3643;

.userBlock__link {
	font-size: 16px;
	padding-left: 20px;
	padding-right: 10px;
//	outline: 1px solid lime;
	position: relative;
	color: $userBlock_normal;
	text-decoration: none;
	
	span {
		position: relative;
		
		&:after {
		content: '';
		position: absolute;
		bottom: 1px;
		left: 0;
		right: 0;
		height: 1px;
		background: $userBlock_normal;
		}
	}
	
	&:hover {
		color: $userBlock_hover;
		
		span:after {
			background: $userBlock_hover;
		}
	}
	
	&:active span {
		opacity: 0.3;
	}
	
//	border-bottom: 1px solid black;
	
	&:not(:first-child):before {
		content: '';
		position: absolute;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: #32425c;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	
}




