//SETTINGS

@import "symbols-technomart";
@import "normalize.scss";

$btn_color: #ee3643;
$btn_hover: #ca2c37;
$btn_active: #ba2732;

body {
	margin: 0;
	height: 0;
	background-color: #fff;
	min-width: 960px;
	font-family: Cuprum, sans-serif;
	font-size: 17px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
//	min-height: inherit;
//	outline: 1px solid red;
}

.row {
	margin: 0 -10px;
//	outline: 2px solid lime;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.col {
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}

.row_inline {
  font-size: 0;
}

.row_inline:after {
  display: none;
}

.row_inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col_1 {
  width: 8.33%;
}

.col_2 {
  width: 16.66%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33%;
}

.col_5 {
  width: 41.66%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33%;
}

.col_8 {
  width: 66.66%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33%;
}

.col_11 {
  width: 91,66%;
}

.col_12 {
  width: 100%;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

.btn {
	width: 195px;
	display: block;
	min-height: 38px;
	line-height: 38px;
	box-sizing: border-box;
	padding: 0 10px;
	background-color: $btn_color;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	border-radius: 3px;
	
	&:hover {
		background-color: $btn_hover;
	}
	
	&:active {
		background-color: $btn_active;
	}
}

//END OF SETTINGS

//INDEX

@import "header";




//Services
@import "services";




.main {
	
}

.bannersBlock {
	margin-top: 59px;
}

.banner {
	position: relative;
	min-height: 123px;
	color: white;
	box-sizing: border-box;
	padding-left: 23px;
	padding-top: 20px;
	margin-bottom: 20px;
	background: #f6b22d url(../img/banner_materials.png) no-repeat 83% 51%;
}

.banner_materials {
	background-color: #f6b22d;
	background-image: url(../img/banner_materials.png);
}

.banner__instrument {
	background-color: #4aafde;
	background-image: url(../img/banner_instrument.png);
	background-position: 88% 51%;
}

.banner_tech {
	background-color: #cc79d1;
	background-image: url(../img/banner_tech.png);
	background-position: 87% 51%;
}

.banner_discount {
	background-color: #85d179;
	background-image: url(../img/banner_discount.png);
	background-position: 82% 51%;
}

.banner_delivery {
	background-image: url(../img/banner_delivery.png);
	background-position: 87% 51%;
}

.banner__title {
	font-size: 24px;
	line-height: 30px;
	font-family: Cuprum, sans-serif;
	font-weight: 700;
}

.banner__link {
	font-size: 14px;
	line-height: 18px;
	color: white;
	text-transform: uppercase;
	min-width: 135px;
	display: inline-block;
	vertical-align: top;
	background: rgba(black, 0.1);
	text-decoration: none;
	min-height: 38px;
	line-height: 38px;
	text-align: center;
	padding: 0 10px;
	margin-top: 14px;
	
	&:hover {
		background: rgba(black, 0.2);
	}
	
	&:active {
		background: rgba(black, 0.3);
	}
}

.newRibbon:after {
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
	background: url(../img/newRibbon.png) no-repeat;
}

.slider {
	height: 266px;
	background-color: #f6b22d;
	color: white;
	position: relative;
}

.slider__title {
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.slider__text {
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", sans-serif;
	margin-top: 5px;
}

.slider__controls {
	position: absolute;
	width: 160px;
	height: 10px;
	bottom: 36px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 100;
	font-size: 0;
}

.slider__control {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	background-color: #fff;
	border: 3px solid white;
	border-radius: 50%;
	cursor: pointer;
}

.slider__slide {
	box-sizing: border-box;
	padding: 25px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}

.slider__slide_perf {
	background-image: url(../img/slider__slide_perf.jpg);
}

.slider__slide_drill {
	background-image: url(../img/slider__slide_drill.jpg);
}

.slider__slide {
	display: none;
}

.slider__slide:nth-child(1) {
//	display: block;
}

.slider__input {
	display: none;
}

#slider__btn1:checked ~ .slider__controls [for="slider__btn1"],
#slider__btn2:checked ~ .slider__controls [for="slider__btn2"],
#slider__btn3:checked ~ .slider__controls [for="slider__btn3"] {
	background-color: $btn_color;
}

#slider__btn1:checked ~ .slider__slides :nth-child(1),
#slider__btn2:checked ~ .slider__slides :nth-child(2)
{
	display: block;
}

.slider__btn {
	position: absolute;
	bottom: 22px;
}

.slider__arrow {
	position: absolute;
	font-size: 45px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	cursor: pointer;
	
	&:hover:before {
		text-shadow: 0 1px rgba(white, 0.3);
	}
}

.slider__arrow_next {
	right: 0;
}
