.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
  background-color: rgba(dodgerblue, 0.5);
}

.tabs {
	position: relative;
	margin: 0 auto;
	width: 800px;
	color: rgba(white, 0.9);
}

.tabs__controls {
	float: left;
  z-index: 3;
  position: relative;
  background: rgba(black, 0.5);
}

.tabs label {
	cursor: pointer;
	display: block;
	// float: left;
	width: 150px;
	height: 45px;
	line-height: 45px;
	position: relative;
	text-align: center;
	border: 1px solid white;
  box-sizing: border-box;
}

.tabs input {
	display: none;
}

#tab_1:checked ~ .tabs__controls #tab_l1,
#tab_2:checked ~ .tabs__controls #tab_l2,
#tab_3:checked ~ .tabs__controls #tab_l3 {
	background: #fff;
	color: black;
	z-index: 3;
}

.tabs__content {
	float: left;
	position: relative;
	width: 400px;
	height: 230px;
	z-index: 2;
  background: rgba(black, 0.5);
  color: white;
  border: 1px solid white;
}

.tabs__content > div {
	display: none;
	// height: 100%;
  padding: 10px;
  text-align: center;
  // background: red;
}

#tab_1:checked ~ .tabs__content #tab_c1,
#tab_2:checked ~ .tabs__content #tab_c2,
#tab_3:checked ~ .tabs__content #tab_c3 {
	display: block;
}

